* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0!important;
    padding: 0!important;
}

a {
    text-decoration: none !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

/* =============================messager-btn============= */
.mess-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.mess-btn a {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #0084ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fff;
    transition: 0.4s;
}

.mess-btn a::before {
    content: '1';
    position: absolute;
    top: 0;
    left: -6px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    background-color: #c00;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.mess-btn a::after {
    content: 'Chúng tôi có thể giúp gì cho bạn?';
    position: absolute;
    top: 6px;
    left: -152px;
    font-size: 12px;
    width: 130px;
    padding: 5px 10px;
    text-align: center;
    background-color: rgba(59, 89, 152, .8);
    border-radius: 8px;
}

.mess-btn a:hover {
    color: #fff;
    transform: scale(1.1);
}

/* ===============================================HEADER CSS================================================= */
.header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.nav-menu > li > a {
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 90px;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: lighter;
    transition: 0.4s;
}

.nav-menu > li > a::after {
    content: '';
    border-right: 1px solid #fff;
    position: absolute;
    height: 30px;
}

.menu-left > li > a::after {
    right: 0;
}

.menu-right > li > a::after {
    left: 0;
}

.nav-menu > li:hover a {
    color: #b52026;
}

.logo-header img {
    height: 90px;
    margin: 0 auto;
    display: block;
}

/* +nav-mobile */
.nav-mobile {
    display: none;
}

.nav-bars-mobile {
    padding: 7px 10px;
    border: 1px solid #fff;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff !important;
    border-radius: 3px;
}

.menu-mobile > li > a {
    font-size: 17px;
    line-height: unset;
    padding: 10px 0;
}

.menu-mobile > li > a::after {
    border: none;
}

/* =================Slideshow===================================== */
.slider-wrapper {
    position: relative;
    overflow: hidden;
}

.slide img {
    width: 100%;
}

.slick-dots {
    position: absolute;
    bottom: 20px;
    display: flex !important;
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    transition: 0.4s;
}

.slick-dots button {
    width: 20px;
    height: 20px;
    margin: 0 2px;
    display: block;
    border-radius: 50%;
    position: relative;
    border: none;
    background-color: #fff;
}

.slick-active button {
    border: 1px solid #fff;
    background-color: transparent;
}

.slick-active button::after {
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
}

.slides:hover .slick-dots {
    opacity: 1;
}

.slide {
    position: relative;
}

.slide .order-btn {
    position: absolute;
    bottom: 142px;
    left: 50%;
    transform: translateX(-50%);
}

.slide .order-btn a {
    cursor: pointer;
    text-transform: uppercase;
    padding: 0 35px;
    color: #fff;
    background-color: #b52026;
    border: 2px solid #fff;
    font-size: 26px;
    opacity: 1;
    animation: fadeInDown 4s steps(30) infinite;
    transition: 0.4s;

}

.slide .order-btn a:hover {
    background-color: #fff;
    color: #b52026;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* ============================SEAFOOD WRAPPER================================= */
.wrapper-seafood,
.wrapper-dishes,
.wrapper-videos,
.wrapper-news,
.wrapper-introduce,
.wrapper-comments,
.wrapper-goodwill {
    padding: 50px 0;
}

.wrapper-seafood .title,
.wrapper-dishes .card-body .card-title,
.wrapper-videos .title,
.wrapper-news .title,
.wrapper-introduce .title,
.wrapper-comments .title,
.wrapper-goodwill .title {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #b52026;
    font-weight: 700;
    position: relative;
    margin-bottom: 48px;
}

.wrapper-seafood .row {
    margin: 0;
}

.wrapper-seafood .title::after,
.wrapper-dishes .card-body .card-title::after,
.wrapper-videos .title::after,
.wrapper-news .title::after,
.wrapper-introduce .title::after,
.wrapper-comments .title::after,
.wrapper-goodwill .title::after {
    content: '';
    position: absolute;
    width: 100px;
    border-bottom: 2px solid #b52026;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper-seafood .img-seafood {
    padding: 0 !important;
}

.wrapper-seafood .img-seafood img,
.wrapper-banner .voucher img,
.wrapper-comments .img-user img {
    width: 100%;
    display: block;
    transition: 0.4s;
}

.card-title {
    text-transform: uppercase;
    margin-bottom: 0;
}

/* =============================WRAPPER DISHES============================= */
.wrapper-dishes .card {
    border: none;
    background-color: transparent;
}

.card-img-top {
    width: unset;
}

.wrapper-dishes .card:hover .card-img-top {
    transform: scale(1.25);
}

.box-img {
    text-align: center;
    padding: 20px;
}

.box-img:hover .card-img-top,
.wrapper-banner .voucher:hover img,
.wrapper-seafood .img-seafood:hover img,
.wrapper-comments .img-user:hover img,
.wrapper-introduce .img-introduce:hover img,
.wrapper-news img:hover {
    opacity: 0.8;
}

.card-img-top {
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 4px 8px 10px #0003;
    margin-bottom: 20px;
    transition: 0.4s;
}

.wrapper-dishes .card-body {
    padding: 0;
}

.wrapper-dishes .card-body .card-title {
    margin-bottom: 40px;
}

.wrapper-dishes .card-body .card-title::after {
    width: 70px;
    border-bottom: 1px solid #b52026;
}

.wrapper-dishes .card-text,
.wrapper-news .card-text {
    margin-bottom: 10px !important;
    color: #555;
    font-size: 13px;
    line-height: 1.75;
}

.menu-btn a,
.wrapper-introduce .btn-view-more a,
.news-page .box-news-latest .btn-primary {
    color: #fff;
    background-color: #2e4f85;
    padding: 8px 20px;
    margin: 10px 0;
    border-radius: 8px;
    display: inline-block;
    transition: 0.4s;
}

.menu-btn a:hover,
.wrapper-introduce .btn-view-more a:hover,
.news-page .box-news-latest .btn-primary:hover {
    background-color: #233c64;
}

/* =================================Commnets-Wrapper======================================= */

.wrapper-comments {
    background-size: cover;
}

.wrapper-comments .comment-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #555;
}

.wrapper-comments .img-user {
    padding: 0 20px;
}

.wrapper-comments .img-user img {
    border-radius: 50%;
}

.wrapper-comments .content .name {
    font-size: 20px;
    position: relative;
    padding-left: 17px;
    margin-bottom: 10px;
}

.wrapper-comments .content .quote-icon {
    height: 11px;
    position: absolute;
    top: 2px;
    left: 0;
}

.wrapper-comments .content p {
    font-size: 15px;
    color: #555;
    margin-bottom: 10px;
}

.wrapper-comments .content .vote {
    margin-bottom: 16px;
}

.wrapper-comments .content .vote i {
    color: #b52026;
}

.wrapper-comments .content .img-another img {
    display: inline-block;
    margin-right: 2px;
}

/* ===============================banner-VOUCHER===================== */
.wrapper-banner .voucher {
    display: block;
}

.wrapper-banner .voucher:hover img{
    opacity: 0.8;
}

/* ====================VIDEOS-WRAPPER====================== */
.video-item {
    margin: 0 10px;
}

.video-item .box {
    position: relative;
    width: 100%;
}

.video-item .box img {
    width: 100%;
}

.video-item .box .play-btn {
    position: absolute;
    font-size: 40px;
    color: #fff;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.video-item .box:hover .play-btn {
    transform: scale(1.4);
}

.video-item .box .video-text {
    position: absolute;
    position: absolute;
    bottom: 0;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    background-color: #2e4f85;
    margin-bottom: 0;
    color: #fff;
    width: 100%;
}

.videos-list {
    position: relative;
    margin: 0 -10px;
}

.videos-list .slick-prev {
    position: absolute;
    left: -30px;
    top: 50%;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
    font-size: 48px;
}

.videos-list .slick-next {
    position: absolute;
    right: -30px;
    top: 50%;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
    font-size: 48px;
}

/* ======================Introduce-Wrapper=================================== */

.wrapper-introduce .title,
.news-page .title {
    text-align: left;
}

.wrapper-introduce .title::after,
.news-page .title::after {
    left: 0;
    transform: unset;
}

.wrapper-introduce .description p {
    margin-bottom: 10px;
    text-align: justify;
    color: #555;
    font-size: 14px;
}

.wrapper-introduce .description p span {
    font-style: italic;
    font-weight: 700;
}

.wrapper-introduce .img-introduce img {
    transition: 0.4s;
}

/* ==============================NEWS-WRAPPER======================== */
.news-home-page {
    background-size: cover !important;
}

.news-home-page .news-list {
    margin: 0 -20px;
}

.news-home-page .news-item {
    margin: 0 20px;
}

.wrapper-news .card {
    border: none;
    border-radius: unset;
    margin-bottom: 40px;
}

.wrapper-news img {
    transition: 0.4s;
}

.news-home-page .card-body {
    padding: 10px;
    position: relative;
}

.news-home-page .card-body .arrow-view-more {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    width: 45px;
    height: 50px;
    background-color: #2E4F85;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-news .card-title a {
    font-size: 14px;
    color: #2d2d2d;
    padding: 10px 0 15px 0;
    margin-right: 50px;
    display: block;
    font-weight: 700;
}

.news-home-page .btn-primary {
    float: right;
    color: #b52026;
    background: unset;
    border: none;
    padding: 0;
    font-style: italic;
    font-size: 13px;
    transition: 0.4s;
}

.news-home-page .btn-primary:hover {
    color: #991218;
}

.news-list .slick-prev {
    position: absolute;
    left: -20px;
    top: 50%;
    color: #fff;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
    font-size: 42px;
}

.news-list .slick-next {
    position: absolute;
    right: -20px;
    top: 50%;
    color: #fff;
    border: none;
    background-color: transparent;
    transform: translateY(-50%);
    font-size: 42px;
}

/* ======================Wrapper-Mapppppppppp==================== */
.wrapper-map iframe {
    width: 100%;
    height: 400px;
}

/* =============================footer=================================== */
.footer {
    background-size: cover;
    color: #fff;
    padding-top: 50px;
}

.logo-ft img {
    height: 120px;
}

.footer .container-md > h2 {
    font-size: 25px;
    margin: 20px 0 18px;
    font-weight: 700;
}

.footer .container-md > h4 {
    font-size: 16px;
    margin-bottom: 28px;
    font-weight: 500;
}

.social-ft {
    margin-bottom: 40px;
}

.social-ft a {
    width: 44px;
    height: 44px;
    background-color: #fff;
    margin: 0 2px;
    border-radius: 50%;
    display: inline-block;
    line-height: 51px;
    text-align: center;
    color: #000 !important;
    transition: 0.4s;
}

.social-ft a:hover {
    background-color: #b52026;
}

.social-ft a i {
    font-size: 27px;
}

.footer li {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: lighter;
}

.text-right {
    text-align: right;
}

.footer .address span {
    padding: 10px 30px;
    border-radius: 15px 15px 0 0;
    background-color: #d41f40;
    display: inline-block;
    font-size: 20px;
    font-weight: lighter;
}

/* =====================================NEWS-PAGESsssssssss=============================================== */

.news-page .news-item {
    margin-bottom: 20px;
}

.news-page .box-news {
    padding-right: 40px;
}

.news-page .card-body {
    padding: 0;
}

.news-page .img-news {
    margin-bottom: 10px;
}

.news-page .card-title a {
    font-size: 16px;
    padding: 0;
    margin-right: 0;
    margin-bottom: 10px;
}

.news-page .card-text {
    font-size: 14px;
}

.news-page .box-news-latest .card-title a {
    font-weight: 500;
    margin-bottom: 5px;
}

.news-page .box-news-latest .card-text {
    font-size: 12px;
}

.news-page .box-news-latest .btn-primary {
    padding: 2px 10px;
    font-size: 12px;
    margin: 0;
}

.news-page .arrows-news button {
    border: none;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #2E4F85;
    display: inline-block;
    margin-right: 5px;
}

/* ==================Wrapper Good-Will===================================== */

.wrapper-goodwill {
    background-color: #f2f2f2;
}

/* ========================RESPONSIVE==================== */
@media (min-width: 1400px) {
    .container-md {
        max-width: 1140px;
    }
}


@media screen and (max-width: 992px) {
    .header {
        background-color: #2e4f85;
        position: static;
    }
    .hidden {
        display: none;
    }
    .nav-mobile {
        display: block;
    }

    /* ===============footer======================== */
    .footer li {
        font-size: 16px;
    }
    .footer .address span {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 767px) {
    .order-btn {
        display: none;
    }

    .wrapper-seafood .img-seafood {
        margin-bottom: 20px;
    }

    .footer li {
        text-align: left !important;
    }

}